.h2-footer{
 
        font-size: 260px;
        font-weight: bold; /* Grosor de la fuente */
        color: black; /* Fondo negro para el texto */
        
        text-align: center;
    
}

.hr_footer{
    
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ffffff15;
    -webkit-mask-image: linear-gradient(90deg, hsla(0, 0%, 100%, .062) 10%, #fff 50%, hsla(0, 0%, 100%, .062) 90%);
    mask-image: linear-gradient(90deg, hsla(0, 0%, 100%, .062) 10%, #fff 50%, hsla(0, 0%, 100%, .062) 90%);
    
}