

.button {
  border-radius: 7px;
  padding: 10px 22px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.primary {
  background-color: white;
  
}

.secondary-outline {
  background-color: transparent;
  
}

.danger {
  background-color: red;
 
}

.success {
  background-color: green;
 
}

.off {
  background-color: #24242467;
  
  opacity: 0.5;
  cursor: not-allowed;
}  
