.button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    color: #ffffff; /* Cambia el color del texto si es necesario */
  }
  
